# Copy this file to .env in this same "database" folder

# Local MongoDB
MONGO_URI=mongodb://127.0.0.1:27017/cti_platform

# OR MongoDB Atlas (free cloud database)
# MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/cti_platform
